@import url('https://fonts.cdnfonts.com/css/clash-display');
* {
    font-family: 'Clash Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding-right: 40px;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;

}

.nav a {
    text-decoration: none;
}

.links img {
    width:auto; height: 300px; border-radius: 50%; 
}

.hero{
    background-image: url(Assets/home_bg.jpeg);
    width: auto; height: 964px; background-size:cover;

}

circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    line-height: 100px;
    margin-right: 50px;
    margin-top: 25%;
    margin-left: 10%;
    font-size: 3.125rem;
    font-weight: 500;
}

circle a{
    color: #fff;
    position: relative;
    top: 40%;
    text-decoration: none;
}


@media screen (max-width:1000px;){
    .circle{
    display:flex;
    flex-direction:column;
    }
