@import url('https://fonts.cdnfonts.com/css/clash-display');
* {
    font-family: 'Clash Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding-right: 40px;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;

}

.nav a {
    text-decoration: none;
}

.links img {
    width:300px; height: 300px; border-radius: 50%; 
}

.slide{
    background: url(../Assets/class\ \(3\).png);
    background-size: auto;
    height: 1065px;
    background-repeat: no-repeat;
}
.slide img{
    float: right;
    margin-left: 100px;
    margin-top: 20px;
}
.slide h1 {
    position: relative;
    padding-top: 750px;
    padding-left: 200px;
    color: white;
    font-size: 96px;
}

.class h1{
    text-align: center;
    font-size: 96px;
    text-decoration: underline;
    padding-top: 100px;
    padding-bottom: 100px;
}

.description{
    background:url(../Assets/class\ \(4\).png) ;
    background-size: auto;
    height: 907px;
}
.description p{
    font-size: 64px;
    float: right;
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 90px;
    background: linear-gradient(270deg, rgba(0,0,0,0.82) 0%, rgba(0,0,0,0.65) 50%, rgba(255,255,255,.0) 100%);
}
.description h2{
    font-size: 64px;
    position: relative;
    top: 600px;
    margin-left: 0;
    color: white;
}