@import url('https://fonts.cdnfonts.com/css/clash-display');
*{
    font-family: 'Clash Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.nav {
    padding-right: 40px;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;

}

.nav a {
    text-decoration: none;
}

.intro{
background: url(../Assets/Taurus_X8_Pro_55.webp);
background-size: 1920px ;
height: 750px;
object-fit: cover; 
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

.intro h1{
    font-size: 64px;
    background:-webkit-linear-gradient(360deg, rgba(255,255,255,1) 35%, rgba(0,255,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 500;
}

.intro h2 {
    font-size: 48px;
    color: #00ff00;
    text-align: center;
}

.black{
    background: #000000;
    width: 1920px;
    height: 110px;
    position: absolute;
}

.cinecam{
    background: url(../Assets/cinelifter.png);
    background-size: 1922px;
    height: 1100px;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.content{
    background: linear-gradient(270deg,  rgba(0,0,0,0)0%, rgba(0,0,0,.73) 99%);
    color: white;
    background-size: auto;  
    object-fit: cover; 
    background-repeat: no-repeat;
    display: flex;
   
    align-items: center;
    font-size: 36px;
}
.content img {
    position: relative;
    margin-top: 900px;
    padding-left: 40px;
}
.content h1 { 
    position: relative;
    margin-top: 850px;
    padding-left: 40px;
    margin-left: 50px;
    font-weight: 500;
}

.gimbal{
    background: url(../Assets/X8.png);
    background-size: auto ;
    height: 995px;
    object-fit: contain; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.content1{
    
    color: black;
    background-size: auto;  
    object-fit: cover; 
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    padding-top: 500px;
    padding-left: 40px;
    font-size: 36px;
    align-items: center;
}

.content1 h1 {
    margin-left: 50px;
    color: #282828;
    text-align: center;
    font-weight: 500;
}

.speed{
background:url(../Assets/lifter.png) ;
background-size: auto; 
height: 1147px; 
object-fit: cover; 
background-repeat: no-repeat;
text-align: center;
position: relative;
}

.speed h1{
    padding-top: 200px;
    font-size: 128px;
    color:white;
    font-weight: 500;
}