*{
    font-family: 'Clash Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.nav {
    padding-right: 40px;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;

}

.nav a {
    text-decoration: none;
}

.intro{
background: url(../Assets/Taurus_X8_Pro_55.webp);
background-size: cover ;
height: 100vh;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

.intro h1{
    font-size: 64px;
    background: linear-gradient(270deg, #42FF00 0%, #7FDA5F 0%, #42FF00 50%, #FFF 39.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 500;
}

.intro h2 {
    font-size: 48px;
    color: #00ff00;
    text-align: center;
}



.cinecam{
    background: url(../Assets/cinelifter.png);
    background-size: cover;
    height: 100vh;
    object-fit: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;   
     display: flex;
    align-items: center;
    justify-content: start;

}

.content{
    color: #ffffff;
    background-size: auto;  
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    font-size: 36px;

}


.gimbal{
    background: url(../Assets/X8.png);
    background-size: cover ;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
     display: flex;
    align-items: center;
    justify-content: start;
}

.content1 {
    display: flex;
   
}

.content1 h1 {
    color: #282828;
    text-align: center;
    font-weight: 500;        
    font-size: 48px;

}

.speed{
background:url(../Assets/lifter.png) ;
background-size: cover; 
height: 100vh; 
background-repeat: no-repeat;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-size: 64px;
color:white;
}

@media (max-width:600px){
.content1{
    flex-direction: column;
    align-items: center;
}
.content1 img{
    width: 20%;
}
.speed,.content{
    font-size: 32px;
}

}